@using FurnitureFactoryBusinessLogics.ViewModels
@model List<PurchaseViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Покупки</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a asp-action="Create">Создать покупку</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Покупка
                    </th>
                    <th>
                        Сумма покупки
                    </th>
                    <th>
                        Оставшаяся сумма к оплате
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.PurchaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseSum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseSumToPayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.DateOfCreation)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" asp-route-datecreation="@item.DateOfCreation" asp-route-purchasename="@item.PurchaseName">Изменить</a> |
                        <a asp-action="AddFurnitureToPurchase" asp-route-id="@item.Id" asp-route-purchasename="@item.PurchaseName"
                           asp-route-datecreation="@item.DateOfCreation" asp-route-purchasesum="@item.PurchaseSum">Добавить мебель</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        <a asp-action="Pay" asp-route-id="@item.Id" asp-route-purchasename="@item.PurchaseName" asp-route-purchasesum="@item.PurchaseSum" asp-route-purchasesumtopayment="@item.PurchaseSumToPayment">Оплатить</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>

